{% extends 'RestaurantSearchBundle:Default:page_with_nav_and_login_bar.html.twig' %}
{% block page_content %}
    <div class="container">
        <div class="text-center">
            <h1>Welcome to the restaurant search demo.</h1>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                Signed in
            {% else %}
                Signed out
            {% endif %}
        </div></div>
{% endblock %}